*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
   
}

#container{
    margin: 100px auto;
    width: 40%;
    text-align: center;
}
h1{
    color: rgb(70, 84, 99);
}
#header p{
    margin: 30px 0;
    font-size: 0.9rem;
}
span{
    width: 120px;
}
#result1{
    margin: 20px;
    color: green;
}
#result2{
    margin: 20px;
    background-color: red;
    color: white;
    font-weight: 700px;
    border-radius: 10px;
    height: auto;
    padding-top: 5px;
    
}
#result-img{
    width: 120px;
    margin-top: 20px;
}
@media screen and (max-width:900px) {
    #container{
        width: 60%;
    }
    span{
        width: 100px;
    }
}
@media screen and (max-width:450px) {
    #container{
        width: 90%;
    }
}